{% extends "base_generic.html" %}

{% block content %}

<table border="1">
<caption>Licenses:</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Guarantee</th>
        <th>DFSG compatible</th>
        <th>FSF approved</th>
        <th>OSI approved</th>
        <th>GPL compatible</th>
        <th>Copyleft</th>
        <th>Different license</th>
        <th>Active</th>
    </tr>
    <tr>
        {% for license in licenses_data %}

            {% for field in license %}
        <td align="center">
        {% if field.value == False %}
            {{ field.value }}
            {% else %}
            <b>{{ field.value }}</b>
            {% endif %}
            </td>
            {% endfor %}
    </tr>
        {% endfor %}
</table>>

{% endblock %}
