{% extends "base_generic.html" %}

{% block content %}
<h1>Local License</h1>
  <p>License:</p>
  <ul>
    <li><strong class="li1">ID:</strong> {{ id }}</li>
    <li><strong>Licensename:</strong> {{ license_name }}</li>
    <li><strong>Guarantee:</strong> {{ guarantee }}</li>
    <li><strong>DFSG compatible:</strong> {{ DFSG_compatible }}</li>
    <li><strong>FSF approved:</strong> {{ FSF_approved }}</li>
    <li><strong>OSI approved:</strong> {{ OSI_approved }}</li>
    <li><strong>GPL compatible:</strong> {{ GPL_compatible }}</li>
    <li><strong>Copyleft:</strong> {{ copyleft }}</li>
    <li><strong>Different license:</strong> {{ different_license }}</li>
    <li><strong>Active:</strong> {{ active }}</li>

  </ul>

{% endblock %}